<!-- Toolbar -->
<div>
  <div>
    <h1>CBC gGmbH</h1>
    <nav>
      <a routerLink="/employees">Employees</a> |
      <a routerLink="/info">Info</a> | <a routerLink="/servers">Servers</a>
    </nav>
  </div>
  <div
    *ngif="
      routerLink === '/employees' ||
        routerLink === '/servers' ||
        routerLink === '/info';
      else noRoutLink
    "
  ></div>
  <ng-template #noRoutLink>
    <h1>CBC gGmbH</h1>
    <p>
      Vision of this company is protect the environment. We advice
      Non-governmental and governmental organizations stratagies to solve the
      problems
    </p>
    <p>Mission of this company is not only ...</p>
  </ng-template>

  <router-outlet></router-outlet>
</div>
